/* appMenu: The three line overflow/hamburger menu in the corner of the main bar. */

#PanelUI-fxa-menu, #PanelUI-fxa, #appmenu-moreTools{max-height: 40vw !important;}

/* Toolbar separators */
#widget-overflow-mainView > toolbarseparator, #widget-overflow-mainView > .panel-subview-body > toolbarseparator, .PanelUI-subView toolbarseparator, #permission-popup-mainView > toolbarseparator, #protections-popup-multiView toolbarseparator, #identity-popup-mainView > toolbarseparator, #identity-popup-securityView > toolbarseparator, #editBookmarkPanel toolbarseparator, .cui-widget-panelview menuseparator, .cui-widget-panel toolbarseparator {
  display: none !important;
}

#appMenu-print-button2 {display: none !important;}

#appMenu-save-file-button2 {display: none !important;}

#appMenu-find-button2 {display: none !important;}

#appMenu-zoom-controls2 {display: none !important;}


#appMenu-quit-button2 {display: none !important;}

#appMenu-help-button2 {display: none !important;}

#appMenu-extensions-themes-button {display: none !important;}

#appMenu-history-button {display: none !important;}

#appMenu-bookmarks-button {display: none !important;}

#appMenu-downloads-button {display: none !important;}
