#tracking-protection-icon-box, #identity-box, #tracking-protection-icon-container {
  display: none;
}

#identity-icon {
  fill: #17ed00 !important;
}


/* Extensions Overflow */
#nav-bar-overflow-button {
  display: none !important;
}