#nav-bar {
  background: transparent !important;
  margin-top: -32px !important;
  margin-right: calc(70vw - 50px) !important;
  height: 32px !important;
}



/* Browser Tabs */

#TabsToolbar {
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
  margin-left: calc(30vw + 50px);
  max-height: 32px !important;
}

#alltabs-button, #scrollbutton-up, #scrollbutton-down, #tabs-newtab-button{

}
.tabbrowser-tab::before, .tabbrowser-tab::after {
	border-left: none !important;
}

.tabbrowser-tab .tab-background {
  color: white !important;
  background-color: SlateGray !important;
  border-radius: 12px !important;
  align-content: center !important;
  margin: 4px !important;
  padding: 4px 0px 4px 0px !important;
  height: 24px !important;
}

.tabbrowser-tab .tab-background[selected = "true"] {
  background-color: White !important;
}

.urlbarView {
  background-color: white !important;
  border-radius: 0px 0px 12px 12px !important;
  margin-left:  -8px !important;
  width: 30vw !important;
}

/* URL Bar */
#urlbar-input {
  color: white !important;
}

#urlbar, .urlbarView-url {
  color: black !important;
}

#urlbar-background {
  border: 0px !important;
  border-radius: 12px 12px 0px 0px !important;
  background-color: transparent !important;
  margin-top: 4px !important;

}

#urlbar-container {
  max-width: 30vw !important;
  min-width: 30vw !important;
  margin-left: 0px !important;
  margin-top: 0px !important;
}

#urlbar {
  padding: 0px 8px 0px 8px !important;
  width: 30vw !important;
  font-size: 14px !important;
}

.titlebar-placeholder[type="pre-tabs"],
#page-action-buttons,
.urlbar-history-dropmarker,
.urlbar-go-button,
#forward-button, 
#back-button {
  display: none;
}

#back-button > .toolbarbutton-icon {
  transform: scale(.8,.8) !important;
  margin-top: -2px !important;
  -moz-box-ordinal-group: 0 !important; 
  margin-bottom: 0px !important;
}


#PanelUI-button {
  -moz-box-ordinal-group: 0 !important;
  padding-top: 1px !important;
  margin-top: -1px !important;
  margin-bottom: 1px !important;
}

#PanelUI-button, .toolbarbutton-1 { 
  color: #FFFFFF !important;
  margin-bottom: 2px !important;
}

.tab-content {
  margin-bottom: 0.5px !important;
}

#TabsToolbar .tabbrowser-tab .tab-line {
  height: 0px !important;
}

#TabsToolbar {
  padding-inline-start: 0px !important;
  margin-top: 0px !important;
}