/* Configurable Options
Colors: Choose any CSS color, hex code, or rgb() triple
Opacities: 0.0 (transparent) to 1.0 (opaque)
Display: Controls the display CSS property. none (don't display) / inline (display). */
 
:root {
	
	/* Main Bar */
 --barColor: #607D8B !important;
 --buttonColor: White;
 --urlWidth: 30vw;

	/* Forward/Back buttons */

/* Set urlOffset to 64px if buttons are displayed, 0px if not. Limitations of CSS. */
 --displayFwdBack: none;
 --fwdBackOffset: 0px;
	
	/* Tabs */
 --displayNewTabButton: none;
 --displayCloseTab: none;
 --tabActive: White;
 --tabActiveText: White;
 --tabInactive: #607D8B;
 --tabInactiveText: White;
 --tabOpacity: 0.25;
	
	/* Menus */
 --menuColor: White;
 --menuText: Black;
 --menuAccent: #607D8B;
	
}

#forward-button, #back-button {
	display: var(--displayFwdBack) !important;
}