/* Tab Bar */

/* Layout Only */
#TabsToolbar {
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
  margin-left: calc(max(31vw, 350px ) + 32px + var(--fwdBackOffset, 0));
  max-height: 32px !important;
  background-color: transparent !important;
}

/* Separators between tabs */
.tabbrowser-tab::before, .tabbrowser-tab::after {border-left: none !important;}

/* Color for inactive tabs and layout for all tabs */
.tab-background {
  opacity: var(--tabOpacity, 1) !important;
  background-color: var(--tabInactive, SlateGray) !important;
  border-radius: 12px !important;
  align-content: center !important;
  margin: 4px !important;
  padding: 4px 0px 4px 0px !important;
  min-height: 24px !important;
  height: 24px !important;
}

/* Active tab is different color */
.tab-background[selected = "true"] {
  background-color: var(--tabActive, White) !important;
  opacity: var(--tabOpacity, 1) !important;
}

/* Inactive tab text */
.tab-label, .tab-icon-sound {color: var(--tabInactiveText, White) !important;}

/* Active tab text */
.tab-label[selected = "true"], .tab-icon-sound[selected = "true"] {color: var(--tabActiveText, Black) !important;}

/* Center tab content */
.tab-content {padding-bottom: 4px !important;}



/* Line above active tab */
#TabsToolbar .tabbrowser-tab .tab-line {display: none !important;}

#TabsToolbar {
  padding-inline-start: 0px !important;
  margin-top: 0px !important;
}

/* Tab Close Button */
.tab-close-button.close-icon {
	display: var(--displayCloseTab, inline) !important;
	fill: var(--buttonColor, Black) !important;
}

/* New Tab Button */
#tabs-newtab-button {display: var(--displayNewTabButton, inline) !important;}
#tabs-newtab-button, #new-tab-button {border-radius: 32px !important;}