#navigator-toolbox {
  border: 0px !important;
}

#TabsToolbar {
  margin-bottom: 0px !important;
  padding-bottom: 2px !important;
  margin-left: calc(25vw + 90px);
  max-height: 32px !important;
}

.tabbrowser-arrowscrollbox {
  height: 32px !important;
  min-height: 32px !important;
}

:root {
  --toolbox-border-bottom-color: transparent !important;
}

#nav-bar {
  background: transparent !important;
  margin-top: -32px !important;
  margin-bottom: -2px !important;
  margin-right: 5px !important;
  height: 32px !important;
}

#urlbar-results {
  margin-top: -2px !important;
}

#urlbar-background {
  background: transparent !important;
  border: none !important;
}

#urlbar, #urlbar-input {
  margin-bottom: 0px !important;
}

#urlbar-input {
  text-color: #bebebe !important;
}

.tab-text {
  margin-bottom: 1px !important;
}

#urlbar-container {
  min-width: 25vw !important;
  max-width: 25vw !important;
  margin-left: 0px !important;
  margin-top: -1px !important;

}

#urlbar {
  min-width: 25vw !important;
  font-size: 13.5px !important;
}

.titlebar-placeholder[type="pre-tabs"],
#page-action-buttons,
.urlbar-history-dropmarker,
.urlbar-go-button,
#forward-button, 
#back-button {
  display: none;
}

#back-button > .toolbarbutton-icon {
  transform: scale(.8,.8) !important;
  margin-top: -2px !important;
  -moz-box-ordinal-group: 0 !important; 
  margin-bottom: 0px !important;
}


#PanelUI-button {
  -moz-box-ordinal-group: 0 !important;
  padding-top: 1px !important;
  margin-top: -1px !important;
  margin-bottom: 1px !important;
  }

#PanelUI-button, .toolbarbutton-1 {
  color: #FFFFFF !important;
}
  
.tab-content[selected] {

  margin-top: 1.5px !important;
  margin-bottom: 0.5px !important;
}

.tab-content {
  margin-top: 1.5px !important;
  margin-bottom: 0.5px !important;
}

#TabsToolbar .tabbrowser-tab .tab-line {
  height: 0px !important;
}


#nav-bar-overflow-button {
  -moz-box-ordinal-group: 0;
margin-right: 5px !important;
  border-right: 20vw !important;
  margin-top: -1px !important;
  position: fixed;
}

#TabsToolbar {
  padding-inline-start: 0px !important;
  margin-top: 0px !important;
}

.titlebar-spacer[type="pre-tabs"] {
  width: 0 !important;
}

:root{
  scrollbar-width: thin;
  scrollbar-color: rgb(82, 82, 82) rgb(31, 31, 31);
}

toolbarbutton#alltabs-button {
  -moz-binding: url("./userChrome/userChrome.xml#execute_javascript_code");
}

#urlbar[breakout][breakout-extend] {
  top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
  left: 0 !important;
  width: 100% !important;
}
    
#urlbar[breakout][breakout-extend] > #urlbar-input-container {
  height: var(--urlbar-height) !important;
  padding-block: 0 !important;
  padding-inline: 0 !important;
}
    
#urlbar[breakout][breakout-extend] > #urlbar-background {
  animation-name: none !important;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .05) !important;
}

.toolbarbutton-1 {
  --toolbarbutton-hover-background: transparent !important;
  --toolbarbutton-active-background: transparent !important;
}

.toolbarbutton-1:hover,
.toolbarbutton-1[open] {
  fill: #212121 !important;
}


.panel-subview-body,.panel-mainview,.panel-subviews,
.panel-subview-footer,[class^="PanelUI-"] {
  color: #212121 !important;
}

#identity-box[pageproxystate="invalid"] > #identity-icon {
  margin-right: -6px !important;
  max-width: 0px !important;
}

#identity-icon {
  fill: #17ed00 !important;
}