/* Main Toolbar (Everything except tabs) */


#navigator-toolbox {
  background-color: var(--barColor, White) !important;
  border: 0 !important;
}


/* 1. URL Bar (I don't know what half of these actually do) */

/* Layout Only */
#nav-bar {
  background-color: transparent !important;
  margin-top: -32px !important;
  margin-right: calc(70vw - 50px) !important;
  height: 32px !important;
}

/* The one you actually type in */
#urlbar-input {color: var(--buttonColor, White) !important;}

/* The results */
.urlbarView {
  background-color: var(--menuColor, White) !important;
  border-radius: 0px 0px 12px 12px !important;
  margin-left: 0px !important;
  width: inherit !important;
}

#urlbarView-action {display: none !important;}

#urlbar, .urlbarView-url {
  color: var(--menuText, Black) !important;
  margin: 0 !important;
  border: 0 !important;
  padding: 0 !important;
   border: none !important;
}

/* Background for everything */
#urlbar-background {
  border-style: none !important;
  border-radius: 12px 12px 0px 0px !important;
  width: 30vw !important;
  background-color: transparent !important;
  margin-top: 4px !important;
}

#urlbar-container {width: 30vw !important;}

#urlbar {
  width: inherit !important;
  font-size: 14px !important;
}

.titlebar-spacer {border: none !important;}

.urlbarView-title-separator, .urlbarView-title-separator::before {display: none !important;}

/* Getting rid of extra fluff */
.titlebar-placeholder[type="pre-tabs"],
#page-action-buttons, /* Three dots and bookmark star */
.urlbar-history-dropmarker,
#urlbar-go-button, #urlbar-go-button:hover, #urlbar-go-button:hover:active /* Go arrow */
{
  display: none !important;
}

/* 2. Other Buttons */

#forward-button, 
#back-button {
  display: var(--display-fwdback);
}

/* Style the back button if you want it */
#back-button > .toolbarbutton-icon {
  color: var(--buttonColor, White) !important;
  fill-opacity: 1 !important;
  transform: scale(.8,.8) !important;
  margin-top: -2px !important;
  -moz-box-ordinal-group: 0 !important; 
  margin-bottom: 0px !important;
}


/* Padlock Icon */
#tracking-protection-icon-box, #tracking-protection-icon-container {display: none;}

/* Shield Icon */
#identity-box,  #identity-icon {display: none;}

/* Extensions Overflow */
#nav-bar-overflow-button {display: none !important;}

/* Overflow Menu */
#PanelUI-button {
  -moz-box-ordinal-group: 0 !important;
  border-left-width: 0px !important;
  color: var(--ButtonColor, White) !important;
}