/* Main Toolbar (Everything except tabs) */


/* 1. URL Bar (I don't know what half of these actually do) */

#navigator-toolbox {
  background-color: var(--barColor, White) !important;
  border: none !important;
}

#urlbar, #urlbar[open=true] {
  width: var(--urlWidth) !important;
  min-width: 374px !important;
}

/* Layout Only */
#nav-bar {
  background-color: transparent !important;
  margin-top: -32px !important;
  margin-right: calc(70vw - 50px) !important;
  height: 32px !important;
}

/* The one you actually type in */
#urlbar-input {color: var(--buttonColor, Black) !important;}


#urlbarView-action {display: none !important;}


#urlbar-container {
	width: var(--urlWidth) !important;
	min-width: calc(374px + var(--toolbarbutton-inner-padding)) !important;
}

.urlbarView {
  background-color: var(--barColor, White);
  border: none !important;
}

#urlbar-go-button {display: none !important;}

#urlbar-background {
	background-color: var(--barColor, White) !important;
	border: none !important;
}

.urlbar-input-box, .urlbarView, .urlbarView-url {color: var(--buttonColor, Black) !important;}

/* Icons at bottom of results to search through Wikipedia, eBay, IMDB etc. */
.search-one-offs {display: none !important;}



/* 2. Other Buttons */

#nav-bar-customization-target #forward-button, #nav-bar-customization-target #back-button {display: var(--displayFwdBack) !important;}

/* Extra extensions */
#nav-bar-overflow-button {display: none !important;}

/* Bookmark page */
#star-button-box {display: none !important;}

#tracking-protection-icon-container {display: none !important;}

#identity-box {display: none !important;}

#PanelUI-menu-button {
	fill: var(--buttonColor, Black) !important;
	padding-bottom: 8px !important;
}

#PanelUI-button {-moz-box-ordinal-group: 0 !important;}


