/* Overflow Menu (Hamburger Menu, App Menu, Panel UI) */

#appMenu-popup #appMenu-mainView,
.panel-arrowcontent,
panelview {
  background-color: var(--menuColor, white) !important;
  border-radius: 8px !important;
}

.panel-subview-body {
  padding: 12px !important;
}

#appMenu-mainView {
  background-color: var(--menuColor, white) !important;
  border-radius: 8px !important;
}

#PanelUI-containers { border-radius: 25px; }

/* Profile Information */
#appMenu-fxa-label, #appMenu-fxa-icon, #appMenu-fxa-status { display: none !important;}


/* Get rid of Pocket menu */
#appMenu-library-pocket-button {display: none !important;}

/* Other bits and bobs */
#appMenu-print-button,
#appMenu-whatsnew-button, #appMenu-find-button, #appMenuRestoreLastSession,
#appMenu-save-file-button, #appMenu-open-file-button, #appMenu-quit-button
#appMenu-customize-button, #appMenu-more-button, #appMenu-zoom-controls, #appMenu-edit-controls, #appMenu_menu_openTour,
#appMenu-protection-report-button, #edit-menu
{display: none !important;}

.subviewbutton:hover {
  background: none !important;
  color: var(--menuAccent, SlateGray) !important;
  padding-left: 8px !important;
  padding-right: 24px !important;
}


toolbarseparator {display: none}