/* Configurable Options
Colors: Choose any CSS color, hex code, or rgb() triple
Opacities: 0.0 (transparent) to 1.0 (opaque)
Display: Controls the display CSS property. none (don't display), anything else (display). */
 
:root {
	
	/* Main Bar */
 --barColor: #607D8B !important;
 --display-fwdback: none;
	
	/* Tabs */
 --tabActive: White;
 --tabActiveText: White;
 --tabInactive: #607D8B;
 --tabInactiveText: White;
 --tabOpacity: 0.25;
	
	/* Menus */
 --menuColor: White;
 --menuText: Black;
 --menuAccent: #607D8B;
	
}