@import "settings.css";

* {scrollbar-width: none !important;}

/* New Tab Page */
@-moz-document url(about:home), url(about:newtab) {

  body {
    background-Color: White !important;
    --newtab-search-icon: transparent !important;
    --newtab-textbox-focus-boxshadow: none !important;
  }

.fake-textbox {
color: var(--menuColor) !important;
opacity: 1.0 !important;
}

  /* Search Box */
  .search-handoff-button {
  border-radius: 24px !important;
  background-color: var(--menuAccent, White) !important;
  box-shadow: none !important;
  border: none !important;
  }
}

/* YouTube */
@-moz-document domain(youtube.com) {

/* Remove Trending tab */
.yt-simple-endpoint.style-scope.ytd-guide-entry-renderer[title = "Trending"],
.yt-simple-endpoint.style-scope.ytd-mini-guide-entry-renderer[title = "Trending"] {
  display: none !important;
}

}

/* Letsrun */
@-moz-document url-prefix(https://www.letsrun.com/forum) {

/* Same colors used in rest of site */
:root {
--Yellow: #FFC200;
--Navy: rgb(0,50,95);
--Gray: rgb(113,128,150);
}

/* Get rid of stupid shoe rating ad, top links, and footer links */
.forum-index-thread-list .thread:nth-child(2), .header-nav-secondary-featured, .forum-footer > ul:nth-child(1)
{display: none !important;}


/* 1. Thread List */
.color-visit-links a {color: var(--Navy) !important;}
.color-visit-links a:hover {color: var(--Gray) !important;}

body {background: WhiteSmoke !important;}

/* Thread links */
.forum-index-thread-list-container ul li.thread {
  margin-bottom: 12px !important;
  padding: 16px !important;
  background-color: White !important;
  border-radius: 8px !important;
  border: 1px solid LightGray !important;
}

/* 2. In Thread */

/* Post Body */
.forum-post .post-info-container .post-body {
  background-color: White !important;
  border-color: LightGray !important;
  border-radius: 0px 0px 8px 8px !important;
}

/* Author and info boxes */
.forum-post .post-info-container div.post-meta-container, 
.forum-post .author-container {
  background-color: var(--Navy) !important;
  border-radius: 8px !important;
}

.time-and-date, .post-action-links {
  color: White !important;
  background-color: inherit !important;
}

.time-and-date {border-radius: 8px 0px 0px 0px !important;}

.post-action-links {border-radius: 0px 8px 0px 0px !important;}

.text-link-blue, .post-meta-container a, .text-gray-700 {color: inherit !important;}

.inline-block.text-xs.text-gray-600 {color: #BEBEBE !important}

/* User names */
.forum-post .author-container .author-name-and-meta, .dbr-username-dropdown {color: White !important;}

/* Special users */
.text-letsrun-red {color: var(--Yellow) !important;}

/* Quotes */
.forum-post .post-body blockquote {background-color: WhiteSmoke !important;}

/* Follow Thread Button */
#followThreadDropdownZero-button {
  background-color: White;
  color: var(--Gray);
}

/* Some ad box I think? */
.pt-10 {display: none;}



/* Post Preview */
.h-10 > strong:nth-child(1), button.ml-1 {color: inherit !important;}

.h-10 {color: White !important;}

.bg-forum-yellow-400 {background-color: White !important;}

.border-forum-yellow-900 {border-color: Whitesmoke !important;}

.bg-forum-yellow-900 {background-color: var(--Navy) !important;}








}