@import "settings.css";
@import "Custom Sites/youtube.css";
@import "Custom Sites/letsrun.css";

* {scrollbar-width: none !important;}

/* New Tab Page */
@-moz-document url(about:home), url(about:newtab) {

  body {
    background-Color: White !important;
    --newtab-search-icon: transparent !important;
    --newtab-textbox-focus-boxshadow: none !important;
  }

.fake-textbox {
color: var(--menuColor) !important;
opacity: 1.0 !important;
}

  /* Search Box */
  .search-handoff-button {
  border-radius: 24px !important;
  background-color: var(--menuAccent, White) !important;
  box-shadow: none !important;
  border: none !important;
  }
}

